<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Transaction</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <button class="btn btn-primary float-right">Add Transaction</button>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="card">

                <p-table >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Author</th>
                            <th>Price In Dollars</th>          
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body">
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>          
                        </tr>
                    </ng-template>
                  </p-table>
                  </div>
            </div>
            <!-- /.row -->
           
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
     
    </div>
    <!-- ./wrapper -->
    